.social-network 
li {

	display: inline-block;
	margin-left:  0.25em;
	padding: 0 3px;
		background-color: #F2F2F2;
		border: solid 1px  #CCC ;
	border-radius: 8px;
}

.social-network 
li 
a  {
width: 1.28571em;
text-align: center;
display: inline-block;
text-decoration:none;
	color: red;

}

.social-network li a:hover{
color: #555;
font-weight:bold;}

.social-network 
span
{
display:none;
}

.social-network   
span.share 
{
display:initial;
}

.social-network .twitter:before {font-family: FontAwesome;content: "\f099";}
.social-network .facebook:before {font-family: FontAwesome;content: "\f09a";}
.social-network .google-plus:before {font-family: FontAwesome;content: "\f0d5";}
.social-network .linkedin:before {font-family: FontAwesome;content: "\f0e1";}
.social-network .diaspora:before {font-family: FontAwesome;content: "\f069";}
.social-network .courriel:before {font-family: FontAwesome;content: "\f003";}
